<?xml version="1.0"?>
<launch>

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
  args="-e ode /home/eric/catkin_ws/src/simulation/autolabor_description/world/model.world" />
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    textfile="/home/eric/catkin_ws/src/simulation/autolabor_description/urdf/model.urdf" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model model1 -param robot_description"/>

  <!-- ros_control rrbot launch file -->
  <include file="$(find autolabor_control)/launch/control_2_cam.launch"/>

</launch>
