<?xml version="1.0"?>
<robot name="autolabor_description">
  <joint name="dummy_joint" type="fixed">
    <parent link="base_link"/>
    <child link="body"/>
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
  </joint>

  <joint name="cam_joint" type="fixed">
    <parent link="body"/>
    <child link="camera"/>
    <origin xyz="0.5 0 0.5" rpy="0 1.570796327 0"/>
  </joint>
  <joint name="ray_joint" type="fixed">
    <parent link="body"/>
    <child link="ray"/>
    <origin xyz="0 0 0.7" rpy="0 0 0"/>
  </joint>
  <joint name="fljoint" type="revolute">
    <parent link="body"/>
    <child link="flw"/>
    <origin rpy="-1.570796327 0  0" xyz="0.22  0.225 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-1.79769e+308" upper="1.79769e+308" velocity="50"/>
  </joint>
  <joint name="frjoint" type="revolute">
    <parent link="body"/>
    <child link="frw"/>
    <origin rpy="-1.570796327 0  00" xyz="0.22  -0.225 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-1.79769e+308" upper="1.79769e+308" velocity="50"/>
  </joint>
  <joint name="bljoint" type="revolute">
    <parent link="body"/>
    <child link="blw"/>
    <origin rpy="-1.570796327 0  0" xyz="-0.22 0.225 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-1.79769e+308" upper="1.79769e+308" velocity="50"/>
  </joint>
  <joint name="brjoint" type="revolute">
    <parent link="body"/>
    <child link="brw"/>
    <origin rpy="-1.570796327 0  0" xyz="-0.22 -0.225 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-1.79769e+308" upper="1.79769e+308" velocity="50"/>
  </joint>
  <link name="base_link"/>
  <link name="body">
    <inertial>
      <mass value="1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.00197627" ixy="0" ixz="0" iyy="0.00074732" iyz="0" izz="0.00251257"/>
    </inertial>
    <collision>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <box size="0.7 0.4 0.16"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <box size="0.7 0.4 0.16"/>
      </geometry>
    </visual>
  </link>

  <link name="camera">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.000166667" iyy="0.000166667" izz="0.000166667" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <link name="ray">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.000166667" iyy="0.000166667" izz="0.000166667" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <link name="flw">
    <inertial>
      <mass value="0.8"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="3.235e-05" ixy="0" ixz="0" iyy="3.235e-05" iyz="0" izz="6.12e-05"/>
    </inertial>
    <collision>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </visual>
  </link>
  <link name="frw">
    <inertial>
      <mass value="0.8"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="3.235e-05" ixy="0" ixz="0" iyy="3.235e-05" iyz="0" izz="6.12e-05"/>
    </inertial>
    <collision>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </visual>
  </link>
  <link name="blw">
    <inertial>
      <mass value="0.8"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="3.235e-05" ixy="0" ixz="0" iyy="3.235e-05" iyz="0" izz="6.12e-05"/>
    </inertial>
    <collision>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </visual>
  </link>
  <link name="brw">
    <inertial>
      <mass value="0.8"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="3.235e-05" ixy="0" ixz="0" iyy="3.235e-05" iyz="0" izz="6.12e-05"/>
    </inertial>
    <collision>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.05" radius="0.15"/>
      </geometry>
    </visual>
  </link>


  <gazebo reference="camera">
    <sensor type="camera" name="camera">
      <update_rate>60.0</update_rate>
      <camera>
        <horizontal_fov>1.5</horizontal_fov>
        <image>
          <width>1080</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <cameraName>camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera</frameName>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo reference="ray">
    <sensor type="ray" name="ray">
      <update_rate>60.0</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1000</samples>
            <resolution>1</resolution>
            <min_angle>-3.1415</min_angle>
            <max_angle>3.1415</max_angle>
          </horizontal>
          <vertical>
            <samples>16</samples>
            <resolution>1</resolution>
            <min_angle>-0.261799388</min_angle>
            <max_angle>0.261799388</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.1</min>
          <max>10</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="ray_controller" filename="libgazebo_ros_velodyne_laser.so">
        <topicName>scan</topicName>
        <frameName>ray</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
