<launch>
  <rosparam file="$(find autolabor_control)/config/autolabor_control_2.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/autolabor_pro1" args="joint_state_controller joint1_controller joint2_controller joint3_controller joint4_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>
